@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

body {
    font-family: 'Montserrat', sans-serif;
   
    

    background-image:linear-gradient(
        to right bottom, 
        #e0dbdb85,
        #0d1d2c62) 
         ,url("/img/wash.jpg");
    background-size: cover;
    background-position: top;

}

.choice-container {
    display: flex;
    margin-bottom: 0.5rem;
    width: 100%;
    font-size: 1.8rem;
    border: 0.1rem solid rgba(86, 165, 255, 0.25);
    background-color: white;
}
.choice-container.disabled{
    pointer-events: none;
}
.choice-container:hover {
    cursor: pointer;
    box-shadow: 0 0.4rem 1.4rem rgba(86, 185, 225, 0.5);
    transform: translateY(translateY(-0.1rem));
    transition: transform 150ms;
}

.choice-prefix {
    padding: 1.5rem 2.5rem;
    background-color: #56a5eb;
    color: white;
}

.choice-text {
    padding: 1.5rem;
    width: 100%;
}

.correct {
    background-color: #28a745;
    animation: animateBackground 1s ease;
    animation-fill-mode: forwards;
}

.incorrect {
    background-color: #dc3545;
    animation: animateBackground 1s ease;
    animation-fill-mode: forwards;
}

@keyframes animateBackground{
    0%{
        transform: translateX(-100%);
    }
    100%{
        transform: translateX(0%);
    }
}

/* HUD */
#hud {
    display: flex;
    justify-content: space-between;
}

.hud-prefix {
    text-align: center;
    font-size: 2rem;
}

.hud-main-text {
    text-align: center;
}

/* PROGRESS-BAR */
#progressBar {
    width: 20rem;
    height: 4rem;
    border: 0.3rem solid #56a5eb;
    margin-top: 1.5rem;
}

#progressBarFull {
    height: 3.4rem;
    background-color: #56a5eb;
    width: 0%;
}

/* LOADER */
/* #loader {
    border: 1.6rem solid white;
    border-radius: 50%;
    border-top: 1.6rem solid #56eb5e;
    width: 12rem;
    height: 12rem;
    animation: spin 15s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
} */

/* Media Queries */
/* @media only screen and (max-width: 768px) {

} */